extends layout

block content

  #top
    #theaters
      a(href="http://straightouttacompton.com", target="_blank") Straight Outta Compton in Theaters August 14

    #legal
      a(href="http://www.beatsbydre.com/support/privacy-policy.html", target="_blank") Privacy
      a(href="http://www.beatsbydre.com/support/terms-of-use.html", target="_blank") Terms

    #slides
      .slide.slide1(data-city="College Park")
      .slide.slide2(data-city="New York")
      .slide.slide3(data-city="Los Angeles")
      .slide.slide4(data-city="Chicago")

    .editor

      .canvas-outer
        canvas#canvas(width="846", height="846")
        img.hidden#img-logo-frame(src="/img/editor/logo-frame-2x.png")
        img.hidden#img-pattern-grime(src="/img/editor/pattern-grime.jpg")
        img.hidden#img-beats-watermark(src="/img/editor/beats-watermark-2x.png")
        img.hidden#img-bg(src="/img/bg-black-new.jpg")
        div.font-preloader
          span(style="font-family:'knockout'") FORCE FONT LOAD

      .editor-controls
        .editor-image-controls
          .editor-range-control
            .range
          form.editor-invert-control
            input#editor-invert-control-white(type="radio", name="invert", value="0", checked)
            label(for="editor-invert-control-white") White

            input#editor-invert-control-black(type="radio", name="invert", value="1")
            label(for="editor-invert-control-black") Black

          form.editor-types
            input#control-photo(type="radio", name="group", value="photo")
            label(for="control-photo") Image

            input#control-contrast(type="radio", name="group", value="contrast")
            label(for="control-contrast") Contrast

            input#control-invert(type="radio", name="group", value="invert")
            label(for="control-invert") Logo Color

        form.editor-actions
          input#action-upload(type="file", accept="image/*")
          .button.upload
            img(src="/img/btn-addphoto.png")
          .button.share
            img(src="/img/btn-share.png")
          .button.download
            img(src="/img/btn-download.png")
          a.button.restart(href="/?skip=1")
            img(src="/img/btn-restart.png")

      #share-popup-src.share-popup
        a.close
        a.button.twitter(href="#", target="share", data-text="I'm #StraightOutta {CITY}. Where you from?", data-hashtags="BeatsByDre", data-popwidth="550", data-popheight="420")
          img(src="/img/btn-twitter.png", height="45")
        a.button.facebook(href="#", target="share", data-popwidth="555", data-popheight="355")
          img(src="/img/btn-facebook.png", height="45")

  a#beats-logo(href="/")
    img(src="/img/beats-logo.png")

  #loader
    img(src="/img/loader.gif")
