extends layout

block head
  != css("editor")

block content
  #editor
    canvas(id="canvas", width="800", height="800")

      != js("jquery/dist/jquery")
      != js("lodash/lodash")
      != js("fabric/dist/fabric")
      != js("editor")
