doctype html
html
  head
    != LRScript
    title Straight Outta Somewhere - Rep Your City
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1", user-scalable="no")
    meta(name="description", content="Straight Outta Somewhere. Where you from?")

    meta(property="og:site_name", content="Straight Outta Somewhere")
      
    meta(property="og:url" content="http://www.straightouttasomewhere.com/")
    meta(property="og:image" content="http://www.straightouttasomewhere.com/img/icon.png")
    meta(property="og:title" content="Straight Outta Somewhere - Rep Your City")
    meta(property="og:description" content="We're all straight outta somewhere. Where you from?")
    meta(property="og:type" content="website")
      
    link(rel="stylesheet", href="/font/fonts.css")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    != css("all")
    script(src="/js/bower_components/jquery/dist/jquery.min.js")
    script(src="/js/bower_components/jQuery-FontSpy/jQuery-FontSpy.js")
    script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")

    block head


  body(class="lang-#{language.CODE}")
    block content
    
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67069730-1', 'auto');
      ga('send', 'pageview');
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67432725-1', 'auto',{'name':'cn'});
      ga('cn.send', 'pageview');
      
    != js("jquery/dist/jquery")
    != js("all")
    block scripts
