doctype html
html
  head
    != LRScript
    title Straight Outta Somewhere - Rep Your City
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1", user-scalable="no")
    meta(name="description", content="Straight Outta Somewhere. Where you from?")

    meta(property="og:site_name", content="Straight Outta Somewhere")
      
    meta(property="og:url" content="http://www.straightouttasomewhere.com/")
    meta(property="og:image" content="http://www.straightouttasomewhere.com/img/icon.png")
    meta(property="og:title" content="Straight Outta Somewhere - Rep Your City")
    meta(property="og:description" content="We're all straight outta somewhere. Where you from?")
    meta(property="og:type" content="website")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@ComptonMovie")
    meta(name="twitter:creator" content="@BeatsByDre")
    meta(name="twitter:title" content="Straight Outta Somewhere - Rep Your City")
    meta(name="twitter:description" content="We're all straight outta somewhere. Where you from?")
    meta(name="twitter:image" content="http://www.straightouttasomewhere.com/img/icon.png")
      
    link(rel="stylesheet", href="/font/fonts.css")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    != css("all")
    block head


  body(class="lang-#{language.CODE}")
    block content
    != js("jquery/dist/jquery")
    != js("all")
    block scripts
