doctype html
html
  head
    != LRScript
    title Straight Outta Somewhere
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1", user-scalable="no")
    meta(property="description", content="Straight Outta Somewhere. Where you from?")
    meta(property="og:description", content="Straight Outta Somewhere. Where you from?")
    meta(property="og:image", content="http://straightouttasomewhere.com/img/icon.png")
    meta(property="og:title", content="Straight Outta Somewhere")
    meta(property="og:site_name", content="Straight Outta Somewhere")
    meta(property="og:type", content="website")
      
    link(rel="stylesheet", href="/font/fonts.css")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    != css("all")
    block head


  body
    block content

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-65589426-1','auto');ga('send','pageview');

    != js("jquery/dist/jquery")
    != js("all")
    block scripts
