doctype html
html
  head
    != LRScript
    title Straight Outta Somewhere - Rep Your City
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1", user-scalable="no")
    meta(name="description", content="Straight Outta Somewhere. Where you from?")

    meta(property="og:site_name", content="Straight Outta Somewhere")
      
    meta(property="og:url" content="http://www.straightouttasomewhere.com/")
    meta(property="og:image" content="http://www.straightouttasomewhere.com/img/icon.png")
    meta(property="og:title" content="Straight Outta Somewhere - Rep Your City")
    meta(property="og:description" content="We're all straight outta somewhere. Where you from?")
    meta(property="og:type" content="website")
      
    link(rel="stylesheet", href="/font/fonts.css")
    link(rel="icon", href="favicon.ico", type="image/x-icon")
    != css("all")
    script(src="/js/bower_components/jquery/dist/jquery.min.js")
    script(src="/js/bower_components/jQuery-FontSpy/jQuery-FontSpy.js")
    script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")

    block head


  body(class="lang-#{language.CODE}")
    block content
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-65589426-1','auto');ga('send','pageview');
      
    != js("jquery/dist/jquery")
    != js("all")
    block scripts
