extends layout

block content
  #top
    #intro-video
    #editor
      input#city(type="text")
      #editor-type-images
        .type-img.img1
        .type-img.img1
        .type-img.img1
        .type-img.img1
        .type-img.img1
  
  #bottom
    div Grid of images
  
  script(src="/js/bower_components/jquery/dist/jquery.min.js")
  script(src="/js/bower_components/imagesloaded/imagesloaded.pkgd.min.js")
  script(src="/js/bower_components/video.js/dist/video-js/video.js")
  script(src="/js/bower_components/BigVideo.js/lib/bigvideo.js")
  script(src='/js/app.js')
