extends layout

block content
  #top
    #intro-video
  
  #bottom
    div Grid of images
  
  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script(src="/js/bower_components/video.js/dist/video-js/video.js")
  script(src="/js/bower_components/BigVideo.js/lib/bigvideo.js")
  script(src='/js/app.js')
