extends layout

block content
  #uploader

      canvas(id="myCanvas", width="200", height="100", style="border:1px solid #d3d3d3;")
      br
      br
        
      <button id="get">Save Canvas To S3</button>
      br
      br
        
      .image
  
  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script(src='/js/s3upload.js')
  script(src='/js/canvas-to-blob.js')
  script(src='/js/main.js')
