// Meme editor styles

*
  box-sizing border-box

$base-letter-spacing = 0.05em
$canvas-size = 863px
$canvas-border = 5px

html, body
  background #000
  border 0px
  margin 0px
  padding 0px
  font-family 'knockout46_flyweight', Impact, sans-serif
  letter-spacing $base-letter-spacing


#editor
  position fixed
  width 100%
  height 100%
  display block
  top 0px
  left 0px
  z-index 0

  #down
    display block
    text-align right
    padding 20px


  #editor-type-images
      background-color #000
      background-image url(/img/bg-black.jpg)
      background-repeat no-repeat
      background-position top center
      background-attachment fixed
      -webkit-background-size cover
      -moz-background-size cover
      -o-background-size cover
      background-size cover
      width 100%
      height 100%

      .type-img

        width 100%
        height 100%
        background-repeat no-repeat
        background-position center center
        background-attachment fixed
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover

      .type-red
        display none
        width 100%
        height 100%
        background-color #f00


      .img1
        display none
        background-image url(/img/bg1.jpg)

      .img2
        display none
        background-image url(/img/bg2.jpg)

      .img3
        display none
        background-image url(/img/bg3.jpg)

      .img4
        display none
        background-image url(/img/bg4.jpg)

      .img5
        display none
        background-image url(/img/bg5.jpg)


#editor-type-images
  height 100%

#bottom
  display block

#beats-logo
  display block

.hidden
  display none

.editor
  user-select none
  -webkit-user-select none
  z-index 1
  position relative

  overflow hidden

  width ($canvas-size + $canvas-border * 2)
  margin 0 auto

  .button
    cursor pointer
    display inline-block
    //background url(/img/button-bg.jpg) 100% 100%
    //width (320/2)px
    //height (115/2)px
    font-size 24px
    letter-spacing 0.05em
    line-height 0
    //padding-top (@height/2)
    text-align center
    //border-radius 4px
    //color white
    text-transform uppercase
    &:hover
      opacity 0.9
    &:active
      opacity 0.5

  .canvas-outer
    width: ($canvas-size + $canvas-border*2)
    height: @width
    padding: $canvas-border
    margin: 0 auto

  .editor-controls
    display none
    text-align center
    margin 20px auto

    .editor-image-controls
      display none

    .editor-range-control
    .editor-invert-control
      display block
      margin 0 auto
      height 40px

    .editor-range-control
      padding-top 18px

    .editor-invert-control
      margin 0 auto
      display inline-block
      border 2px solid white
      padding 10px
      input[type=radio]
        display none
      label
        margin 0 10px

    label, input[type=radio]
      display inline

    input[type=file]
      display none

    label
      font-size 20px
      letter-spacing 2px
      color white
      text-transform uppercase
      cursor pointer

    input:checked + label
      color red

  .editor-types
    margin 20px 0

    //custom radio buttons
    input[type=radio]
      display none

    label
      display inline-block
      margin-left 25px
      vertical-align middle

    input[type=radio] + label:before
      display inline-block
      content ''
      vertical-align middle
      height 26px
      width 26px
      margin-right 8px
      background-size 100px 26px
      background-repeat no-repeat
      background-position left center
    input[type=radio]:checked + label:before
      background-position -50px 0

    #control-photo + label:before
      background-image url(/img/editor/control-icon-image-2x.png)
    #control-logo + label:before
    #control-invert + label:before
      background-image url(/img/editor/control-icon-logo-2x.png)
    #control-contrast + label:before
      background-image url(/img/editor/control-icon-contrast-2x.png)


// Change UI depending on state
.editor

  //&.mode-intro

  &.mode-text
    .editor-controls
      display block

  &.mode-photo
    .editor-controls
      display block
    .editor-image-controls
      display block
    .canvas-outer
      background white

  &.mode-done
    .editor-controls
      display block
    .editor-image-controls
      display none

  // toggle invert control
  .editor-controls
    .editor-invert-control
      display none
    &.invert
      .editor-invert-control
        display inline-block
      .editor-range-control
        display none

// Popup
.popup
  display none
  text-align center
  background-image url(/img/bg-white.jpg)
  background-size cover
  padding 128px 0
  &:not(.ready) .button
    cursor wait
    opacity 0.25
    pointer-events none
  .button
    margin 0 10px
