// Meme editor styles

*
  box-sizing border-box

$base-letter-spacing = 0.05em
$canvas-size = 863px
$canvas-border = 5px

html, body
  background #000
  border 0px
  margin 0px
  padding 0px
  font-family 'knockout46_flyweight', Impact, sans-serif
  letter-spacing $base-letter-spacing


#editor
  position fixed
  width 100%
  height 100%
  display block
  top 0px
  left 0px
  z-index 0

  #down
    display block
    text-align right
    padding 20px


  #editor-type-images
      background-color #000
      background-image url(/img/bg-black.jpg)
      background-repeat no-repeat
      background-position top center
      background-attachment fixed
      -webkit-background-size cover
      -moz-background-size cover
      -o-background-size cover
      background-size cover
      width 100%
      height 100%

      .type-img

        width 100%
        height 100%
        background-repeat no-repeat
        background-position center center
        background-attachment fixed
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover

      .type-red
        display none
        width 100%
        height 100%
        background-color #f00


      .img1
        display none
        background-image url(/img/bg1.jpg)

      .img2
        display none
        background-image url(/img/bg2.jpg)

      .img3
        display none
        background-image url(/img/bg3.jpg)

      .img4
        display none
        background-image url(/img/bg4.jpg)

      .img5
        display none
        background-image url(/img/bg5.jpg)


#editor-type-images
  height 100%

#bottom
  display block

#beats-logo
  display block

.hidden
  display none

.editor
  user-select none
  -webkit-user-select none
  z-index 1
  position relative

  width ($canvas-size + $canvas-border * 2)
  margin 0 auto
  padding-bottom 50px

  .button
    cursor pointer
    display inline-block
    //background url(/img/button-bg.jpg) 100% 100%
    //width (320/2)px
    //height (115/2)px
    font-size 24px
    letter-spacing 0.05em
    line-height 0
    //padding-top (@height/2)
    text-align center
    //border-radius 4px
    //color white
    text-transform uppercase
    &:hover
      opacity 0.9
    &:active
      opacity 0.5

  .canvas-outer
    width: ($canvas-size + $canvas-border*2)
    height: @width
    padding: $canvas-border
    margin: 0 auto

  .editor-controls
    text-align center
    margin 20px auto

    .editor-image-controls
      display block
    
    .editor-invert-control
      margin 0 auto
      display inline-block
      border 2px solid white
      padding 10px
      input[type=radio]
        display none
      label
        margin 0 10px

    input[type=range]
      display block
      margin-bottom 20px
      margin 20px auto
      -webkit-appearance none
      /*fix for FF unable to apply focus style bug */
      //border 1px solid whit
      /*required for proper track sizing in FF*/
      width 300px

    input[type=range]::-webkit-slider-runnable-track
      width 300px
      height 1px
      background #fff
      border none

    input[type=range]::-webkit-slider-thumb
        -webkit-appearance none
        border none
        height 16px
        width 16px
        border-radius 50%
        background #ed1c24
        margin-top -7px

    input[type=range]:focus
        outline none

    input[type=range]:focus::-webkit-slider-runnable-track
        background #fff

    input[type=range]::-moz-range-track
        width 300px
        height 1px
        background #fff
        border none
        border-radius 3px

    input[type=range]::-moz-range-thumb
        border none
        height 16px
        width 16px
        border-radius 50%
        background #ed1c24

    /*hide the outline behind the border*/
    input[type=range]:-moz-focusring
        outline 1px solid white
        outline-offset -1px

    input[type=range]::-ms-track
        width 300px
        height 5px

        /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
        background transparent

        /*leave room for the larger thumb to overflow with a transparent border */
        border-color transparent
        border-width 6px 0

        /*remove default tick marks*/
        color transparent

    input[type=range]::-ms-fill-lower
        background #fff

    input[type=range]::-ms-fill-upper
        background #ed1c24

    input[type=range]::-ms-thumb
        border none
        height 16px
        width 16px
        border-radius 50%
        background #ed1c24

    input[type=range]:focus::-ms-fill-lower
        background #fff

    input[type=range]:focus::-ms-fill-upper
        background #ed1c24



    label, input[type=radio]
      display inline

    input[type=radio]
      margin-left 25px

    input[type=file]
      display none

    label
      font-size 20px
      letter-spacing 2px
      color white
      text-transform uppercase
      cursor pointer

    input:checked + label
      color red

    .button
      //margin 0 10px

  .editor-types
    margin 20px 0

// Change UI depending on state
.editor
  &.mode-intro
    .editor-controlsstw
      display none
  &.mode-text
    .editor-image-controls
      display none
  &.mode-photo
    .canvas-outer
      background white
  &.mode-done
    .canvas-outer
      background white
    .editor-image-controls
      display none

  // toggle invert control
  .editor-controls
    .editor-invert-control
      display none
    &.invert
      .editor-invert-control
        display inline-block
      .editor-range-control
        display none
