//rupture.scale = 0 500px 800px 1400px

html, body
  margin 0px
  padding 0px
  font-size 13px
  line-height 16px
  background-color #000
  background-image url(/img/bg-black.jpg)
  background-repeat no-repeat
  background-position top center
  background-attachment fixed
  -webkit-background-size cover
  -moz-background-size cover
  -o-background-size cover
  background-size cover


#loader
  display none
  position absolute
  width 16px
  height 16px
  z-index 999

#down
  position absolute
  bottom 20px
  right 15px
  z-index 999

  //+at(1)
  //  display none

  img
    width 20px


#sound-toggle
  position fixed
  z-index 9999
  top 25px
  right 15px
  color #fff
  text-decoration none
  text-transform uppercase
  font-size 22px
  letter-spacing 2px

  &:hover
    color #f00


#big-video-wrap
  display: none


#beats-logo
  position fixed
  top 15px
  left 15px
  width 35px
  z-index 999
  display none

  #city-holder
    position absolute
    top 0px
    left 0px
    z-index 999
    width 400px
    text-align center

    #city
      position relative
      margin 0 auto
      width 320px
      height 343px
      text-align center
      //+at(1)
      //  width 200px
      //  height 229px

    #logo
      width 100%

    #lower
      padding-top 20px
      //+at(1)
      //  padding-top 10px

      #beats-logo-white
        width 45px

        //+at(1)
        //  width 30px

      #buttons
        display none

      #buttons-hide
        display none

    input
      font-family: "knockout", serif;
      position absolute
      left 0px
      bottom -2px
      background none
      color #fff
      width 100%
      border none
      font-size 92px
      line-height 92px
      outline none
      text-align center
      text-transform uppercase
      //+at(1)
      //  font-size 50px
      //  top 135px


  #editor
    width 100%
    height 100%
    display none


    #editor-type-images
        background-color #000
        background-image url(/img/bg-black.jpg)
        background-repeat no-repeat
        background-position top center
        background-attachment fixed
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover
        width 100%
        height 100%

        .type-img

          width 100%
          height 100%
          background-repeat no-repeat
          background-position center center
          background-attachment fixed
          -webkit-background-size cover
          -moz-background-size cover
          -o-background-size cover
          background-size cover

        .type-red
          display none
          width 100%
          height 100%
          background-color #f00


        .img1
          display none
          background-image url(/img/bg1.jpg)

        .img2
          display none
          background-image url(/img/bg2.jpg)

        .img3
          display none
          background-image url(/img/bg3.jpg)

        .img4
          display none
          background-image url(/img/bg4.jpg)

        .img5
          display none
          background-image url(/img/bg5.jpg)
#bottom
  background #000
  display none
  font-family: "knockout46_flyweight", sans-serif;
  letter-spacing 1px

  ul
    list-style none
    margin 0px
    padding 0px

    li
      float left
      position relative
      margin 0px
      padding 0px
      width 33.333333333333%

      .over
        opacity 0
        position absolute
        top 0px
        left 0px
        width 100%
        height 100%
        background-image url(/img/black.png)
        background-repeat no-repeat
        background-position top center
        -webkit-background-size cover
        -moz-background-size cover
        -o-background-size cover
        background-size cover

        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
        /* ...and now for the proper property */
        transition:.5s;




        .over-inner
          display table
          width 100%
          height 100%

          .over-cell
            display table-cell
            vertical-align middle


        h3
          font-size 32px
          letter-spacing 2px
          color red
          text-transform uppercase
          padding 40px 40px 20px 40px
          margin 0px



        p
          font-family "knockout48_featherweight"
          letter-spacing 1px
          color #fff
          font-size 18px
          line-height 26px
          padding 0px 40px 40px 40px
          margin 0px

      .video
        text-align center
        color #fff

        .play
          width 50px

        h3
          font-size 18px
          color #fff
          padding 10px 0px 0px 0px
          margin 0px

      .bg-img
        width 100%
        display block

      //+at(1)
      //  width 100%
      //
      //  .over
      //    position relative
      //    display block
      //    background #000
      //    opacity 1
      //
      //  .video
      //    padding 30px
      //+at(2)
      //  width 50%


      &:hover
        .over
          opacity 1

.editor-actions img
  height 45px
  //+at(1)
  //  height 34px

.shareWindow
  display none
  background #000

.featherlight-content
  width 90%
  padding 0px !important
  border 0px !important
  overflow inherit !important

.featherlight-close-icon
  right -20px !important
  top -20px !important
  color #fff !important
  background none !important

  &:hover
    color #f00 !important


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.cf:before, .cf:after
  content " "
  display table

.cf:after
  clear both

.cf
  *zoom: 1
